.primer-logo {
  
    background: url(https://www.yourprimer.com/assets/img/primer-logo@2x.png) no-repeat top center;
    background-position: bottom center;
    background-size: 100px 64px;
    margin-top: 0;
    width: 100px;
    height: 32px;
    display: block;
    transition: opacity .25s;
    -webkit-transition: opacity .25s;
    text-indent: 500%;
    white-space: nowrap;
    overflow: hidden;
float: left;


}

.nav-link {
  color: #546E7C;
  display: inline-block;
  height: 48px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding: 15px 1px 10px;
  margin: 0 10px 0 5px;
  background: 0 0;
  border-bottom: 4px solid #fff;
  -webkit-transition: border-bottom .3s;
  transition: border-bottom .3s;
}
.-download{
 
    color: #546E7C;
    font-size: 14px;
    line-height: 40px;
   
    float: left;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: .5px;

}
.icons{
  color:blue !important;
  font-size:2em;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  float: left;
 
}
































.Section1{
  display:flex;
  flex-direction:row-reverse;
}
.texts-1{
  left:0;
}



  


/*  Paper */

.background-layer{
  width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;

}

.scene-wrapper{
  display:flex;
  flex-direction:row;
width: 100%;
  position: absolute;
  overflow: hidden;
} 

.paper-img{
position: relative;
height:100%;

}
.inside-bg{
  position: absolute;
  height: 100%;
  width: 715px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
 
  
}

/* Google Phone*/
.device-frame{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
   z-index: 30;

}


.device-wrapper{
  display:flex;
  flex-direction:row;
  width: 100%;
  position: absolute;
  overflow: hidden;
  justify-content:center;
  justify-items: center;
} 

.google-phone{
position: relative;
height:100%;  

}
.inside-img{
  position: absolute;
  top:50px;
  height: 400px;
  width: 214px; 
  left:42%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
 
  
}