.Section1{
  display:inline;
}






.copy-wrapper{
  width:200px;
}

  


/*  Paper */

.background-layer{
  width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;

}

.scene-wrapper{
  display:flex;
  flex-direction:row;
width: 100%;
  position: absolute;
  overflow: hidden;
} 

.paper-img{
position: relative;
height:100%;

}
.inside-bg{
  position: absolute;
  height: 100%;
  width: 715px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
 
  
}

/* Google Phone*/
.device-frame{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
   z-index: 30;

}

.device-wrapper{
  display:inline-block;
}




.inside-img{
 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.google-phone{
  position: relative;
  
}